.top-container{
  background-color: #E4F9F5;
  padding-top: 100px;





}
h2{
  font-family: cursive;
}
body{
  background-color:white;
  text-align: center;
  margin: 0px;

}
.bottom{
  position:absolute;
  left:250px;
  bottom:300px;
  

}
.top{
  position: absolute;
  right: 200px;
  top:40px;
}
.p{
  line-height: 2;


}
.intro{
  width: 30%;
  margin: auto;
}
.middle-container{
  margin: 50px;
  margin-bottom: 50px;
}
hr{
  border: dotted #808080 4px;
  border-bottom: none;
  width:4%;
  margin: 40px auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;


}
a{
  color: #11999E;
  font-family:"montserrat",sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.7rem;
  padding: 20px 0;
}
h1{
  font-family: Dancing Script, cursive,Lobster, Noto Serif, serif;

  margin-top: 0;
  color:black;
  font-weight:20px;



}
.contact-me{
  margin:auto;
}
h3{
  color:black;
}
p{
  color:black;
}
.image{
  max-width: 10%;
  max-height:20%;
  float: right;
  margin-left: 30px;
}
.symbol1{
  max-width:1%;
  max-height:1%;

  vertical-align: middle;
  margin: 0px;


}
.symbol2{
  max-width:1%;
  max-height:1%;
  margin-right: 0px;

  vertical-align: middle;


}
.symbol3{
  max-width:1%;
  max-height:1%;
  display: inline-block;
  vertical-align: middle;

}
.footer-link{
  height:2;
  vertical-align: middle;

}
.btn {
   background: #656969;
   background-image: -webkit-linear-gradient(top, #656969, #283030);
   background-image: -moz-linear-gradient(top, #656969, #283030);
   background-image: -ms-linear-gradient(top, #656969, #283030);
   background-image: -o-linear-gradient(top, #656969, #283030);
   background-image: -webkit-gradient(to bottom, #656969, #283030);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family:"montserrat",sans-serif;
   font-size: 15px;
   font-weight:20;
   padding: 2px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid white 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;

}

.btn {
   border: solid #337FED 1px;



   background: #2C2F2F;
   background-image: -webkit-linear-gradient(top, #2C2F2F, #0B0C0C);
   background-image: -moz-linear-gradient(top, #2C2F2F, #0B0C0C);
   background-image: -ms-linear-gradient(top, #2C2F2F, #0B0C0C);
   background-image: -o-linear-gradient(top, #2C2F2F, #0B0C0C);
   background-image: -webkit-gradient(to bottom, #2C2F2F, #0B0C0C);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
